################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MonkeyCRM/v15/Server/sqlite3
/.vs/MonkeyCRM/v16/Server/sqlite3
